@page "/"

@rendermode RenderMode
<PageTitle>Museums</PageTitle>

<p>Museum Data Source: <a target="_blank" href="https://www.imls.gov/research-evaluation/data-collection/museum-data-files">https://www.imls.gov/research-evaluation/data-collection/museum-data-files</a></p>

<MapView Style="height: 600px; width: 100%;"
         Latitude="41.8873"
         Longitude="-87.6195"
         Zoom="12"
         @ref="_mapView">
    <Map>
        <Basemap>
            <BasemapStyle Name="BasemapStyleName.ArcgisStreets" />
        </Basemap>
    </Map>
</MapView>

@code {

    #region Private Fields and Properties

    private MapView? _mapView;
    private GraphicsLayer? _museumLayer;
    private PopupWidget? _popupWidget;
    private GraphicsLayer? _routeLayer;
    private MapImageLayer? _trafficLayer;

    private List<MuseumRecord> _records = [];
    private bool _isLoaded;
    private bool _showTraffic;
    private bool _routing;
    private string? _filterValue;
    private List<MuseumRecord> FilteredRecords =>
        string.IsNullOrWhiteSpace(_filterValue)
            ? _records
            : _records.Where(r => r.Discipline.Equals(_filterValue)).ToList();
    private readonly SimpleLineSymbol _routeSymbol = new(new MapColor(0, 0, 255, 0.5), 5);
    private readonly RouteParameters _routeParameters = new()
    {
        FeatureSetStops = new FeatureSet
        {
            Features = []
        },
        ReturnDirections = true
    };
    private readonly string _routeUrl = "https://route-api.arcgis.com/arcgis/rest/services/World/Route/NAServer/Route_World";
    private DirectionsFeatureSet[] _directions = [];

    private static readonly string MuseumIconUrl =
    "https://upload.wikimedia.org/wikipedia/commons/f/f8/Map_symbol_museum.svg";

    private static readonly IComponentRenderMode RenderMode =
        new InteractiveServerRenderMode(prerender: false);

    private readonly CsvConfiguration _csvConfiguration = new(CultureInfo.InvariantCulture)
    {
        HasHeaderRecord = true,
        Delimiter = ",",
        PrepareHeaderForMatch = args => args.Header.ToLower()
    };

    private readonly Dictionary<string, string> _disciplines = new()
{
        {"ART", "Art Museums"},
        {"BOT", "Botanical Gardens"},
        {"CMU", "Children's Museums"},
        {"HST", "History Museums"},
        {"NAT", "Natural History and Natural Science Museums"},
        {"SCI", "Science and Technology Museums"},
        {"ZAW", "Zoos, Aquariums, and Wildlife Conservation"}
    };
    #endregion
}
