input {
    width: 6rem;
    align-self: center;
}

textarea {
    width: 100%;
    height: 12rem;
}

.btn {
    max-width: 10rem;
}

@media (max-width: 768px) {
    .row {
        flex-direction: column;
        align-items: center;
    }
}