@page "/georss-layer"
@inherits SamplePage
<PageTitle>GeoRSSLayers</PageTitle>
<h1>GeoRSS Layer</h1>
<p class="instructions">
    A simple demo of displaying a GeoRSS feed.
</p>

<MapView Longitude="-107.95166" Latitude="43.18083" Zoom="4" Class="map-view">
    <Map>
        <Basemap>
            <BasemapStyle Name="BasemapStyleName.ArcgisLightGrayBase" />
        </Basemap>
        <GeoRSSLayer
            Url="https://arcgis.github.io/arcgis-samples-javascript/sample-data/layers-georss/sample-georss.xml" />
    </Map>
</MapView>

@code {

    public override List<NavMenu.PageLink> PageLinks =>
    [
        new("https://developers.arcgis.com/javascript/latest/sample-code/layers-georss/", "ArcGIS Maps SDK for JavaScript"),
     ];
}