@page "/osm-layer"
@inherits SamplePage
<PageTitle>Open Street Maps Layer</PageTitle>
<h1>Open Street Maps Layer</h1>
<p class="instructions">
    A simple demo of displaying an Open Street Map layer.
</p>

<SceneView Class="map-view" Zoom="1" PromptForArcGISKey="false">
    <Map Ground="world-elevation">
        <OpenStreetMapLayer />
    </Map>
</SceneView>

@code {

    public override List<NavMenu.PageLink> PageLinks =>
    [
        new("https://developers.arcgis.com/javascript/latest/api-reference/esri-layers-OpenStreetMapLayer.html", "ArcGIS Maps SDK for JavaScript"),
     ];
}