@page "/service-areas"
@inherits SamplePage
<PageTitle>Service Areas</PageTitle>
<h1>Service Areas</h1>
<p class="instructions">
    Click on any point on the map to be shown a set of "Service Areas". Service Areas are drivable distances in 5, 10, and 15 minute bands.
</p>
<MapView @ref="_mapView" Longitude="135.5023"
         Latitude="34.6937"
         Zoom="11"
         Class="map-view"
         OnClick="OnClick">
    <Map>
        <Basemap>
            <BasemapStyle Name="BasemapStyleName.ArcgisNavigation" />
        </Basemap>
    </Map>
</MapView>

@code {

    public override List<NavMenu.PageLink> PageLinks =>
    [
        new("https://developers.arcgis.com/javascript/latest/find-service-areas/", "ArcGIS Maps SDK for JavaScript"),
     ];

    public override string Description =>
        "This GeoBlazor sample, written in Blazor for .NET developers, demonstrates service-area " +
        "(drive-time) network analysis from the ArcGIS Maps SDK for JavaScript exposed through " +
        "GeoBlazor's MapView.SolveServiceArea method. The page shows a 2D navigation basemap centered on " +
        "Osaka, Japan at zoom level 11. Above the map is an instructional paragraph telling the user to " +
        "click on any point on the map to see a set of Service Areas representing 5, 10, and 15 minute " +
        "drivable distance bands. When the user clicks, a small white marker is placed at the clicked " +
        "point and the page calls SolveServiceArea against the ArcGIS World ServiceAreas REST endpoint " +
        "with break values of 5, 10, and 15 minutes; the resulting drive-time polygons are added to the " +
        "map and styled with a translucent purple fill, with previous graphics cleared on each click. " +
        "The sample is intended to demonstrate solving and visualizing network service areas from a " +
        "hosted routing service in a Blazor application without writing JavaScript.";

    private async Task OnClick(ClickEvent clickEvent)
    {
        await _areaGraphic.SetGeometry(clickEvent.MapPoint);
        await _mapView!.ClearGraphics();
        await _mapView.AddGraphic(_areaGraphic);
        await _mapView.SolveServiceArea(_serviceAreaUrl, [5, 10, 15], _areaFillSymbol);
    }

    private MapView? _mapView;
    private readonly Graphic _areaGraphic = new(symbol: new SimpleMarkerSymbol(color: new MapColor("white"), size: 8));
    private readonly SimpleFillSymbol _areaFillSymbol = new(color: new MapColor(81, 46, 132, 0.25));
    private readonly string _serviceAreaUrl =
        "https://route-api.arcgis.com/arcgis/rest/services/World/ServiceAreas/NAServer/ServiceArea_World/solveServiceArea";
}