@page "/vector-layer"
@inherits SamplePage
<PageTitle>VectorLayer</PageTitle>
<h1>Vector Layer</h1>
<p class="instructions">
    A simple demo of loading a Vector Tile Layer from ArcGIS Online.
</p>
<MapView Longitude="-118.80543" Latitude="34.02700" Zoom="13" Class="map-view">
    <Map>
        <Basemap>
            <BasemapStyle Name="BasemapStyleName.ArcgisLightGrayBase" />
        </Basemap>
        <VectorTileLayer
            Url="https://vectortileservices3.arcgis.com/GVgbJbqm8hXASVYi/arcgis/rest/services/Santa_Monica_Mountains_Parcels_VTL/VectorTileServer/" />
    </Map>
</MapView>

@code {

    public override List<NavMenu.PageLink> PageLinks =>
    [
        new("https://developers.arcgis.com/javascript/latest/add-a-vector-tile-layer/", "ArcGIS Maps SDK for JavaScript"),
     ];
}