@page "/web-scene"
@inherits SamplePage
<PageTitle>WebScene</PageTitle>
<h1>WebScene</h1>
<p class="instructions">
    A simple demo of loading a complete 3d WebScene from ArcGIS Online, including layers, icons, popups, and widgets.
</p>
<SceneView Class="map-view">
    <WebScene>
        <PortalItem PortalItemId="579f97b2f3b94d4a8e48a5f140a6639b" />
    </WebScene>
    <LegendWidget Position="OverlayPosition.TopRight" />
</SceneView>

@code {

    public override List<NavMenu.PageLink> PageLinks =>
    [
        new("https://developers.arcgis.com/javascript/latest/display-a-web-scene/", "ArcGIS Maps SDK for JavaScript"),
     ];
}