@page "/wfslayers"
@inherits SamplePage

<h3>WFS Layers</h3>

<p class="instructions">
    To create a WFSLayer, all you need is the URL to a WFS service that supports WFS 2.0.0 and has GeoJSON output format enabled. Optionally, you can set the name to the FeatureType you want to access in the service. If no name is provided, the layer will default to the first FeatureType in the service.
</p>
<p class="instructions">
    Source: Office for National Statistics licensed under the Open Government Licence v.3.0
</p>
<p class="instructions">
    Contains OS data © Crown copyright and database right @DateTime.Now.Year
</p>

<MapView class="map-view"
         Longitude="-2"
         Latitude="53"
         Zoom="5">
    <Map>
        <Basemap>
            <BasemapStyle Name="BasemapStyleName.ArcgisLightGray" />
        </Basemap>
        <WFSLayer Url="https://dservices1.arcgis.com/ESMARspQHYMw9BZ9/arcgis/services/Counties_May_2023_Boundaries_EN_BUC/WFSServer"
                  Name="Counties_May_2023_Boundaries_EN_BUC:CTY_MAY_2023_EN_BUC"
                  PopupEnabled="true" />
    </Map>
    <LayerListWidget Position="OverlayPosition.BottomLeft" />
    <PopupWidget DefaultPopupTemplateEnabled="true" />
</MapView>

@code {

    public override List<NavMenu.PageLink> PageLinks =>
    [
        new("https://developers.arcgis.com/javascript/latest/sample-code/layers-wfs/", "ArcGIS Maps SDK for JavaScript"),
        new("https://geoportal.statistics.gov.uk/datasets/ons::counties-may-2023-boundaries-en-buc-2/about", "Office for National Statistics (UK)")
    ];

    public override string Description =>
        "This GeoBlazor sample, written in Blazor for .NET developers, demonstrates the WFSLayer (OGC " +
        "Web Feature Service) from the ArcGIS Maps SDK for JavaScript exposed through GeoBlazor's " +
        "WFSLayer, LayerListWidget, and PopupWidget Razor components. The page shows a 2D light-gray " +
        "basemap centered on the United Kingdom at zoom level 5. Above the map are three short " +
        "instruction paragraphs explaining that all you need is a WFS 2.0.0 service URL with GeoJSON " +
        "output enabled and crediting the Office for National Statistics and Ordnance Survey. The map " +
        "loads a single WFSLayer pointing at the May 2023 Counties of England feature type from the ONS " +
        "WFS service, with PopupEnabled set so clicking any county opens its default popup. A " +
        "LayerListWidget appears in the lower-left corner of the map and a generic PopupWidget with " +
        "DefaultPopupTemplateEnabled is configured for the view. The sample is intended to demonstrate " +
        "loading and interacting with a hosted OGC WFS service in a Blazor application without writing " +
        "JavaScript.";
}
