@page "/edit-feature-data"
@inherits SamplePage

<PageTitle>Edit Feature Data</PageTitle>
<h1>Edit Feature Data</h1>

<p class="instructions">
    The Editor Widget has two modes. "Select" allows you to select, edit, and delete
    an existing feature. Clicking "New Feature" allows you to add a feature to the map.
</p>
<p class="instructions" style="color: var(--geoblazor-accent);">
    This sample currently uses code from our <a target="_blank" href="https://www.geoblazor.com/#beta-popup">GeoBlazor Pro</a> extensions library.
    <br/>
    For more information about licensing these advanced features, contact <a href="mailto:info@dymaptic.com">info@dymaptic.com</a>.
</p>
<MapView Longitude="-118.80543"
         Latitude="34.03000"
         Zoom="13"
         Class="map-view"
         Style="min-height: 500px;">
    <Map>
        <Basemap>
            <PortalItem PortalItemId="979c6cc89af9449cbeb5342a439c6a76" />
        </Basemap>
        <FeatureLayer Url="https://services3.arcgis.com/GVgbJbqm8hXASVYi/arcgis/rest/services/my_points/FeatureServer/0" />
    </Map>
    <EditorWidget Position="OverlayPosition.TopRight" />
</MapView>

@code {

    public override List<NavMenu.PageLink> PageLinks =>
    [
        new("https://developers.arcgis.com/javascript/latest/edit-feature-data/", "ArcGIS Maps SDK for JavaScript"),
        new("https://www.arcgis.com/home/item.html?id=979c6cc89af9449cbeb5342a439c6a76", "Light Gray Canvas BaseMap")
    ];

    public override string Description =>
        "This GeoBlazor Pro sample, written in Blazor for .NET developers, demonstrates the Editor widget from the " +
        "ArcGIS Maps SDK for JavaScript exposed through GeoBlazor Pro's EditorWidget Razor component. The page " +
        "shows a 2D light-gray canvas basemap centered on the Santa Monica Mountains in southern California, " +
        "displaying a hosted point FeatureLayer of user-contributed places. The EditorWidget appears as a docked " +
        "panel in the upper-right corner with two modes: Select, which lets the user click an existing point to " +
        "edit its attributes or geometry or delete it, and New Feature, which guides the user through adding a " +
        "new point and entering its attributes via the widget's built-in form. All edits are submitted directly " +
        "to the underlying feature service. The sample is intended to demonstrate the simplest possible drop-in " +
        "editing experience for a hosted FeatureLayer using a single GeoBlazor component.";
}