@page "/source-code"
@page "/source-code/{PageUrl}"

<PageTitle>Source Code</PageTitle>
<h1>Source Code</h1>

@if (string.IsNullOrWhiteSpace(_razorContent))
{
    <p>Loading...</p>
}
else
{
    <CodeHighlight Language="razor" Code="@_razorContent" />
    @if (!string.IsNullOrWhiteSpace(_codeContent))
    {
        <CodeHighlight Language="csharp" Code="@_codeContent" />
    }
}