@inherits LayoutComponentBase
@implements IDisposable

<PageTitle>GeoBlazor Samples</PageTitle>

<div class="page">
    <DynamicComponent Type="NavMenuType" />
    <main>
        <div class="main-links">
            
            <SourceNav />
            @if (LayoutService.CurrentPage is not null)
            {
                for (int i = 0; i < LayoutService.CurrentPage.PageLinks.Count; i++)
                {
                    NavMenu.PageLink pageLink = LayoutService.CurrentPage.PageLinks[i];
                    string btnType = _btnTypes[i % _btnTypes.Length];
                    <a class="btn @btnType" target="_blank" rel="noopener" href="@pageLink.Href">@pageLink.Title</a>
                }
            }
        </div>

        <article class="content">
            @Body
        </article>
    </main>
</div>

@code {
    [Inject]
    public required IConfiguration Configuration { get; set; }
    
    [Inject]
    public required NavigationManager NavigationManager { get; set; }
    
    [Inject]
    public required HttpClient HttpClient { get; set; }
    
    [Inject]
    public required IJSRuntime JsRuntime { get; set; }
    
    [Inject]
    public required JsModuleManager JsModuleManager { get; set; }
    
    [Inject]
    public required AuthenticationManager AuthenticationManager { get; set; }
    
    [Inject]
    public required LayoutService LayoutService { get; set; }
    
    [CascadingParameter(Name="PageRouteData")]
    public required RouteData RouteData { get; set; }

    protected override void OnInitialized()
        {
        base.OnInitialized();
        
        LayoutService.OnPageChanged += StateHasChanged;
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            bool isDarkMode = await JsRuntime.InvokeAsync<bool>("isDarkMode");
            Configuration["GeoBlazor:Theme"] = isDarkMode ? "Dark" : "Light";
            StateHasChanged();
        }
    }
    
    protected virtual Type NavMenuType => typeof(NavMenu);
    
    private readonly string[] _btnTypes = ["btn-primary", "btn-secondary", "btn-accent"];

    public void Dispose()
    {
        HttpClient.Dispose();
        LayoutService.OnPageChanged -= StateHasChanged;
    }

}