.page {
    display: flex;
    flex-direction: column;
    background-size: cover;
    width: 100vw;
    height: 100vh;
}

main {
    position: relative;
    flex: 1;
    overflow: hidden;
    width: 100vw;
    top: 10rem;
    left: 0;
    right: 0;
    bottom: 0;
    height: calc(100vh - 10rem);
    display: flex;
    flex-direction: column;
    align-items: start;
    margin: 0;
    max-width: 100vw;
    overflow-y: auto;
}

.side-bar {
    /*unset everything*/
}

.main-links {
    justify-content: space-evenly;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    font-size: 1.5rem;
    width: 100%;
    max-width: 100vw;
    flex-wrap: wrap;
    z-index: 1;
    gap: 1rem;
    padding: 0.5rem 1.5rem 1rem 1.5rem;
}

.main-links ::deep.btn {
    width: 18rem;
    min-width: 8rem;
    max-width: 18rem;
    flex: 1 1 25%;
    height: 5.75rem;
    margin: 0;
}

article.content {
    max-width: 1200px;
    width: calc(100vw - 3rem);
    flex-grow: 1;
    margin: 0 auto;
    padding-bottom: 10rem;
    height: calc(100vh - 10rem);
}

@media (min-width: 1075px) {
    main {
        left: 20rem;
        top: 6rem;
        overflow-y: hidden;
        height: 100vh;
        flex-direction: column;
        width: calc(100vw - 20rem);
    }
    
    .main-links {
        max-width: calc(100vw - 2rem);
    }

    article.content {
        padding-left: 2rem;
        padding-right: 1.5rem;
        overflow-y: auto;
        width: calc(100vw - 23rem);
    }
}

@media (min-width: 1400px) {
    main {
        flex-direction: row-reverse;
    }

    .main-links {
        width: 19.5rem;
        flex-direction: column;
        align-items: start;
        justify-content: start;
        margin-right: 1.5rem;
        height: calc(100vh - 6rem);
    }

    .main-links ::deep.btn {
        flex: unset;
        width: 100%;
        margin: 0;
    }
    
    article.content {
        width: calc(100vw - 43rem);
    }
}