@inherits LayoutComponentBase

@Body

<div id="logo">
    <a target="_blank" href="https://samples.geoblazor.com">
        <img src="images/gb_white_text_300px.png" alt="Logo" />
    </a>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
