@inherits LayoutComponentBase

@Body

<div id="logo">
    <img src="images/geoblazor_logo_with_title.png" alt="Logo" />
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
